.cell {
    width: 40px; 
    height: 40px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .cell.open {
    background-color: #ff0000;
  }
  
  .cell.flag{
    background-image: url('../../assets/images/flag.png');
    background-size: 40px;
    background-repeat: no-repeat;
  }

  .cell.probably{
    background-image: url(../../assets/images/probably.png);
    background-size: 40px;
    background-repeat: no-repeat;
  }

  .cell.mine{
    background-image: url('../../assets/images/minas.png');
    background-size: 40px;
    background-repeat: no-repeat;
  }

  .cell.notMine{
    background-color: rgb(12, 245, 12);
  }
  
  .board{
    display: flex;
  }